<h1 class="title">Attractions</h1>

<h3>Click to edit:</h3>
<% if @attractions.any?() %>
<ul>
  <% @attractions.each do |attraction| %>
  <li><a href="/attractions/<%= attraction.id() %>/edit"><%= attraction.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no attractions yet!</p>
<% end %>
<br>



<h3>Add New Attraction to a list:</h3>
<form action="/attraction_form" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Name:</label>
    <input class="form-control" id='name' name='name' type="text">

    <label class="form-label" for='description'>Description:</label>
    <input class="form-control" id='description' name='description' type="text">

    <label class="form-label" for='price'>Price:</label>
    <input class="form-control" id='price' name='price' type="text">
    <br>
    <h5>Season:</h5>
    <div class="checkbox">
      <label><input type="checkbox" name="seasons[]" value="winter">  Winter</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="seasons[]" value="spring">  Spring</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="seasons[]" value="summer">  Summer</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="seasons[]" value="fall">  Fall</label>
    </div>

    <input type="hidden" name="_method" value="patch">
    <br>
    <h5>Add Tags to it:</h5>
    <% @tags.each do |tag| %>
      <div class="checkbox">
        <label for="add_tags">
          <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"> <%= tag.name %><br>
        </label>
      </div>
    <% end %>
    <button type="submit">Add Attraction!</button>
  </div>
</form>
<br>
<br>
<a href="/">Home page</a>
