<br>
<br>
<div class="error">
  <h1>* * error * *</h1>
  <br>
  <h1>Invalid input!!</h1>
  <br>
  <br>
  <h3>Rules for inputs:</h3>
    <li>No more than 25 characters for tag</li>
    <li>No more than 50 characters for attraction name</li>
    <li>No more than 200 characters for description</li>
    <li>No blanks inputs</li>
  <br>
  <br>
</div>
<a href="/">Home page</a>
