<h1 class="jumbotron">error</h1>

<h1>Invalid input!!</h1>
<br>
<br>
<h3>Rules for inputs:</h3>
<ul>
  <li>No more than 50 characters for name</li>
  <li>No more than 200 characters for description</li>
  <li>No blanks inputs</li>
</ul>
<br>
<br>
<a href="/">Home</a>
