<div class="error">
  <h1 class="title">* * error * *</h1>
  <br>
  <h1>Invalid input!!</h1>
  <br>
  <br>
  <h3>Rules for inputs:</h3>
  <ul>
    <li>No more than 25 for tag</li>
    <li>No more than 50 for attraction name</li>
    <li>No more than 200 characters for description</li>
    <li>No blanks inputs</li>
  </ul>
  <br>
  <br>
</div>
<a href="/">Home page</a>
