<br>
<br>
<div class="error">
  <h1>* * error * *</h1>
  <br>
  <h1>Invalid input!!</h1>
  <br>
  <br>
  <h3>Rules for inputs:</h3>
    <li> <%= @error_message1 %> </li>
    <li> <%= @error_message2 %> </li>
  <br>
  <br>
</div>
<a href="/">Home page</a>
