<div class="header">
  <div class="seattle">
    <p>Seattle Attractions</p>
  </div>
  <div class="link">
    <a href="/tag_form">Add Tag</a>
  </div>
  <div class="link">
    <a href="/attraction_form">Add Attraction</a>
  </div>
</div>

<div class="sidebar">
  <form action="/search" method="post">
    <div class="search">
      <h5>Search by Tag:</h5>
      <% if @tags.any?() %>
          <input type="hidden" name="_method" value="patch">
          <% @tags.each() do |tag| %>
            <div class="checkbox">
              <label for="add_tags">
              <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"> <%= tag.name %><br>
              </label>
            </div>
          <% end %>
      <% else %>
        <p>There are no tags yet!</p>
      <% end %>
    </div>
    <div class="search">
      <h5>Search by Season:</h5>
      <input type="hidden" name="_method" value="patch">
      <div class="checkbox">
        <label><input type="checkbox" name="seasons[]" value="Winter">  Winter</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="seasons[]" value="Spring">  Spring</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="seasons[]" value="Summer">  Summer</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="seasons[]" value="Fall">  Fall</label>
      </div>
    </div>
    <div class="search">
      <h5>Search by Price:</h5>
      <div class="form-group">
        <label class="form-label" for='minimum'>Minimum price:</label>
        <input class="form-control" id='minimum' name='minimum' type="text">
        <label class="form-label" for='maximum'>Maximum price:</label>
        <input class="form-control" id='maximum' name='maximum' type="text">
        <br>
        <button type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="main">
  <h3>List of Attractions:</h3>
  <br>
  <% if @attractions.any?() %>
    <ul>
      <% @attractions.each do |attraction| %>
      <li><a href="/attractions/<%= attraction.id() %>"><%= attraction.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no attractions yet!</p>
  <% end %>
</div>
