

<div class="header">
  <div class="seattle">
    <p>Seattle Attractions</p>
  </div>
  <div class="link">
    <a href="/tag_form">Add Tag</a>
  </div>
  <div class="link">
    <a href="/attraction_form">Add Attraction</a>
  </div>
</div>

<div class="sidebar">
  <h4>Search by Tag:</h4>
  <% if @tags.any?() %>
    <form action="/tags-search" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @tags.each() do |tag| %>
      <div class="checkbox">
        <label for="add_tags">
        <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"> <%= tag.name %><br>
        </label>
      </div>
    <% end %>
      <button type="submit">Search</button>
    </form>
  <% else %>
    <p>There are no tags yet!</p>
  <% end %>
</div>


<div class="main">
  <h3>List of Attractions:</h3>
  <br>
  <% if @attractions.any?() %>
  <ul>
    <% @attractions.each do |attraction| %>
    <li><a href="/attractions/<%= attraction.id() %>"><%= attraction.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no attractions yet!</p>
  <% end %>
</div>
