<br>
<br>
<h4>Searching tags: <%= @tags_list %></h4>
<br>
<br>
<h3>List of Attractions:</h3>
<% if @attractions.any?() %>
<ul>
  <% @attractions.each do |attraction| %>
  <li><a href="/attractions/<%= attraction.id() %>"><%= attraction.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no attractions maching this criteria! Try again!</p>
<% end %>
<a href="/">Home</a>
