<h1 class="title">Tags</h1>
<div class="list">
  <h3>Click to edit</h3>
  <% if @tags.any?() %>
    <ul>
      <% @tags.each do |tag| %>
      <li><a href="/tags/<%= tag.id() %>/edit"><%= tag.name() %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no tags yet!</p>
  <% end %>
  <br>
</div>
<div class="image">
  <img src="/img/wheel.jpg" alt="great wheel">
</div>


<div class="form">
  <hr>
  <h3>Add New Tag: </h3>
  <form action="/tag_form" method="post">
    <div class="form-group">
      <input class="form-control" id='name' name='name' type="text">
      <input type="hidden" name="_method" value="patch">
      <br>
      <button type="submit">Add</button>
    </div>
  </form>
</div>

<div class="home-page">
  <hr>
  <a href="/">Home page</a>
</div>
